
div {
    font-family: "Arial"; /* FONT of HTML Page*/
}

/*----------Checkbox UI-----------------*/
input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 30px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -25px;
}

label.css-label {
    background-image: url(checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*------Input Box Format--------- */
input[type="text"] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    opacity: 9;
}

/*------ADD Button ------------*/
.btn-group button {
    background-color: #81c0ff;
    border: #44b3ff;
    color: black;
    padding: 5px 10px; /* Some padding */
    cursor: pointer; /* Pointer hand icon */
    float: left;
    margin-bottom: 5px;

}

/*------Delete X Symbol Format--------- */
sup {
    color: red;
}

/*-------My Todos Heading Styling------- */
div.heading {
    align-content: center;
    text-align: center;
    background: #faffc2;
}

/*-----------Top Margin------------ */
.breathTop {
    margin-top: 50px;
}

/*------Bottom Margin & Line Division------ */
.borderBottom {
    border: solid #ffffff;
    border-bottom-color: #000000;
    margin-bottom: 5px;
}

/*------Add Todos Title------------ */
div.add-todo {
    opacity: 0.5;
}

/*------ACTIVE TEXT--------- */
div.todoStatusACTIVE {
    color: black
}

/*------COMPLETED TEXT-------- */
div.todoStatusCOMPLETE {
    color: green;
    text-decoration: line-through
}

/*------DELETED TEXT-------- */
div.todoStatusDELETED {
    color: red;
    text-decoration: line-through
}