.btn-group button {
    background-color: #81c0ff;
    border: 1px #44b3ff;
    color: black;
    padding: 5px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left;

}

div.heading{
    align-content: center;
    text-align: center;
    background: #faffc2;
}


.breathTop {
    margin-top: 50px;
}

.borderBottom {
    border: solid #ffffff;
    border-bottom-color: #000000;
}

.breathHorizontal {
    margin-left: 5px;
    margin-right: 5px;
}

.breathVertical {
    margin-top: 5px;
    margin-bottom: 5px;
}
div.todoStatusACTIVE{
    color : blue
}

div.todoStatusCOMPLETE{
    color : green ;
    text-decoration : line-through
}

div.todoStatusDELETED{
    color : red ;
    text-decoration : line-through
}